.content-main{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}
#div_organization_info_form{
    overflow:auto;
    padding-bottom: 50px;
}
.m-form-inline .m-form-group .l-text-wrapper > .l-text-wrapper{
    padding: 0;
}
#dialog_tags{
    height: 65px;
}
.pane-attribute-toolbar{
    /*position: fixed;*/
}
.list-tit{
    margin: 20px 10px 15px 10px;
    padding: 0 0 10px 15px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    color: #777;
    cursor: pointer;
}
.list-tit a{
    float: right;
    margin-right: 15px;
}
.list-item li{
    display: inline-block;
    *display: inline;
    *zoom:1;
}
.one-text-a{
    width: 644px;
    padding: 10px;
    border: 1px solid #D0D0D0;
}
.li-width{
    width: 100%;
}
.l-dialog-body{
    position: relative;
    overflow: hidden;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    padding: 15px;
    padding-left: 34px;
    margin-bottom: 20px;
    border: 1px solid #faebcc;
    position: relative;
}
.icon-warring{
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 14px;
    left: 10px;
    background: url(../images/attention.png) no-repeat center;
    background-size: cover;
}
.o-input{
    height: 30px;
    width: 240px;
    padding: 0 10px;border: 1px solid #D0D0D0;
}
.o-textarea{
    padding: 10px;
    height: 90px;
    width: 624px;border: 1px solid #D0D0D0;
}